
.b3{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    transition: .05s ease-in;
    
}

.ourcourse span{ color: rgb(168, 53, 181);

}

.ourcourse h1{
    color: rgb(88, 33, 140);
}

.b3:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.01);
}
.car{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    transition: .05s ease-in;

    
}




.c1:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.01);
}

.c1 a:link{
    text-decoration: none;
    color: rgb(88, 33, 140);
}
.c1 a:visited{
    text-decoration: none;
    color: rgb(88, 33, 140);
}
.c1 a:hover{
    text-decoration: none;
    color: rgb(88, 33, 140);
}

.c1 a:active{
    text-decoration: none;
}